* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Cairo", sans-serif;
}

:root {
  --dark-blue: #0c2747;
  --orange: #d900ff;
  --orange-dark: #8800a3;
  --white: #ffffff;
}